* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0 auto;
    background-color: rgb(37, 94, 233);
}

li {
    list-style-type: none;
}

.upper-header ul {
    display: flex;
    gap: 1em;
    align-items: center;
}

.upper-header {
    max-width: 80%;
    margin: 0 auto;
    height: 4em;
    padding: auto;
    display: flex;
    flex: 0 1 500px;
    align-items: center;
    justify-content: center;
}

a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

/* vertical-align: middle; */
.upper-header .logo {
    margin-right: 20rem;
    padding-left: 0;
}

.menu-link{
    display: flex;
    padding: 0 1em;
    height: 100%;
    align-items: center;
}

.menu-link:hover {
    background-color: aqua;
    height: 80px;
}

.buttons {
    background-color: white;
    color: black;
    border-radius: 10em;
    padding: 10px 20px;
}

#login {
    font-weight: 500;
}

.upper-header .accedi {
    margin-left: 20rem;
}

/* MODIFICHE DELLA CORREZIONE 
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    max-width: 600px;
    margin: 0 auto;
} */

.lower-header {
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-position-x: center;
    background-position-x: bottom;
    background-repeat: no-repeat;
    height: 700px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.didascalia {
    text-align: center;
    max-width: 80%;
}

#titolo-header {
    font-size: 2.6rem;
}

#sottotitolo-header {
    margin-top: 50px;
    line-height: 1.8rem;
    max-width: 600px;
}

.header-link {
    display: inline-block;
    margin: 1rem 0.5rem;
    font-size: 15px;
    text-decoration: none;
}



#white {
    background-color: white;
    color: black;
    font-weight: 500;
    vertical-align: middle;
}

#black {
    background-color: black;
    color: white;
    font-weight: 400;
}

.main-flex {
    display: flex;
    flex-direction: column;
} 

.scheda {
    max-width: 70%;
    margin: 3rem auto; 
    display: flex;
    flex: 1 1 500px;
    justify-content: center;
    align-items: center;
}

.img-scheda{
    max-width: 50%; 
    min-width: 30%;
}

.testo-scheda {
    min-width: 40%;
    max-width: 30%;
}

.titolo-scheda {
    font-size: 2.5rem;
    margin-bottom: 20px;
    align-self: flex-start;
}

.paragrafo-scheda {
    font-size: 1rem;
}

.wave {
    display: block;
}

.background {
    background-color: rgb(244, 244, 244);
    width: 100vw;
}

.scheda-invertita {
    max-width: 70%;
    margin: 3rem auto; 
    display: flex;
    flex: 0 0 1;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

/* rotazione img wave */
.wave-reverse {
    transform: rotate(-180deg);
}

.quarta-scheda {
    max-width: 70%;
    margin: 3rem auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testo-quarta-scheda {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.paragrafo-quarta-scheda {
    max-width: 80%;
    font-size: 1rem;
    margin: 0 auto;
}

.last-section {
    text-align: center;
    display: flex;
    display: block;
}

.last-h2 {
    background-image: url('img/stars.svg');
    background-position: center;
    background-repeat:no-repeat;
}

.download {
    background-color: rgb(114, 137, 216);
    color: white;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

/* FOOTER */

footer { 
    max-width: 100%;
    background-color: rgb(34, 38, 41);
}

.footer-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 4rem 0 2rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.main-column {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
}

footer h2 {
    color: rgb(114, 137, 216);
}

footer a {
    padding: 0;
}

.lang{
    display: block;
    color: white;
}

#ita {
    margin: 1rem 0;
    height: 20px;
    vertical-align: middle;
    padding-right: 0.5rem;
}

#languages {
    vertical-align: middle;
    padding-right: 0.5rem;
}

.fa-angle-down {
    vertical-align: middle;
}

.ico {
    display: flex;
    justify-content: flex-start;
    gap:1em;
}

.menu-column {
    display: flex;
    flex-basis: 75%;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
}

footer h3 {
    color: rgb(114, 137, 216);
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
}