* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    background-color: rgb(41, 95, 231);
}

.header-link {
    height: 60px;
    padding: 15px 50px;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.link {
    display: inline-block;
    margin: 0 auto;
    padding: 0 30px;
}

a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.login {
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    vertical-align: middle;
}

.header-img {
    margin: 0 auto;
    background-color: aqua;
    height: 500px;
}
