* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0 auto;
    background-color: rgb(37, 94, 233);
}

li {
    list-style-type: none;
}

.upper-header ul {
    display: flex;
    gap: 1em;
    align-items: center;
}

.upper-header {
    max-width: 80%;
    margin: 0 auto;
    height: 4em;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

/* vertical-align: middle; */
.upper-header .logo {
    margin-right: 20rem;
    padding-left: 0;
}

.menu-link{
    display: flex;
    padding: 0 1em;
    height: 100%;
    align-items: center;
}

.menu-link:hover {
    background-color: aqua;
    height: 80px;
}

.buttons {
    background-color: white;
    color: black;
    border-radius: 10em;
    padding: 10px 20px;
}

#login {
    font-weight: 500;
}

.upper-header .accedi {
    margin-left: 20rem;
}

/* MODIFICHE DELLA CORREZIONE 
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    max-width: 600px;
    margin: 0 auto;
} */

.lower-header {
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-position-x: center;
    background-position-x: bottom;
    background-repeat: no-repeat;
    height: 700px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.didascalia {
    text-align: center;
    max-width: 80%;
}

#titolo-header {
    font-size: 2.6rem;
}

#sottotitolo-header {
    margin-top: 50px;
    line-height: 1.8rem;
    max-width: 600px;
}

.header-link {
    display: inline-block;
    margin: 2rem;
    font-size: 15px;
    text-decoration: none;
}

#white {
    background-color: white;
    color: black;
    font-weight: 500;
    vertical-align: middle;
}

#black {
    background-color: black;
    color: white;
    font-weight: 400;
    /* padding: 20px; */
}

.main-flex {
    display: flex;
    flex-direction: column;
} 

.scheda {
    max-width: 70%;
    margin: 3rem auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-scheda{
    max-width: 50%; 
    min-width: 30%;
}

.testo-scheda {
    max-width: 30%;
}

.titolo-scheda {
    font-size: 2.5rem;
    margin-bottom: 20px;
    align-self: flex-start;
}

.paragrafo-scheda {
    font-size: 1rem;
}

.scheda-invertita {
    max-width: 70%;
    margin: 0 auto; 
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(244, 244, 244);
}

.wave {
    display: block;
}

/* rotazione img wave */
.wave-reverse {
    transform: rotate(-180deg);
}